/*	Re-Size Box-Model so padding etc come from inside the declared widths	*/
* { 
	box-sizing: border-box;
}

/*	
	background image of bike is 1080 wide and 720 high	
	base font is 18px	
	main site container is 960px wide
*/
html {
	font-size: 18px;
	font-family: Helvetica;
}
body {
	background-color: #0e0e0e;
	color: white;
}

.head-logo,
.content-row,
.copyright {
	max-width: 960px;
	margin: auto;
}
.head-logo,
.content-row,
.copyright,
.content-box-topic,
.content-box-img {
	display: flex;
}


/*	--------------------------------------------------	*/
header {
	margin: auto;
	background-color: black;
	width: 100%;
}
/*	LOGO section is the top line	*/
.head-logo {
	align-items: center;
}
.logo {
	height: 1.5rem;
	padding-left: .5rem;
	padding-right: 1rem;
}
.site-name {
	padding-top: .66rem;
	padding-bottom: .66rem;
	font-size: 1rem;
}
/*	BANNER section is the image and splash panel	*/
.banner-img {
	background-image: url("../images/moto.jpeg");
	background-size: cover;
	height: 25rem;
	display: flex;
  justify-content: center;
}
.featured-outer {
	width: 960px;
	margin: auto;
	display: flex;
	margin-top: 9rem;
  justify-content: flex-start;
  align-items: center;
}
.featured-inner {
	background-color: black;
	width: 25rem;
}
.featured-inner  h4{
	padding-top: 2rem;
	padding-left: 3rem;
	font-size: 1rem;
	font-weight: bold;
}
.featured-inner  h1{
	padding-top: .25rem;
	padding-left: 3rem;
	font-size: 2rem;
	padding-bottom: 2rem;
	font-weight: bold;
}

/*	NAV section is the links bar	*/
.head-nav {
	background-color: firebrick;
}
nav {
	padding-top: .75rem;
	padding-bottom: .75rem;
	align-items: center;
	justify-content: space-between;
}
nav a {
	text-decoration: none;
	color: white;
}
nav.sm-menu-bar {
  display: none;
}
nav.lg-menu-bar {
	max-width: 960px;
	margin: auto;
	display: flex;
}
/*	--------------------------------------------------	*/


/*	--------------------------------------------------	*/
main {
	margin: auto;
	background-color: white;
	width: 100%;
}
.content-row {
	padding-top: 3rem;
	justify-content: space-between;
}
.content-row:last-of-type {
	padding-bottom: 4rem;
 }
.content-box-img {
	border: 4px solid black;
	width: 30%;
	height: 15rem;
	flex-direction: column;
}
.content-img {
	height: 9rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.img-box {
	margin: auto;
}
.label-box {
	background-color: black;
	padding-top: .5rem;
	padding-bottom: .5rem;
	text-align: center;
}
.content-box-topic {
	width: 35%;
	flex-direction: column;
}
.topic-box {
	background-color: black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
}
.info-box {
	color: black;
}
/*	--------------------------------------------------	*/



/*	--------------------------------------------------	*/
footer {
	margin: auto;
	background-color: black;
	width: 100%;
}
.copyright {
	align-items: center;
}
.footer-box {
	padding-top: 2rem;
	height: 5rem;
	text-align: left;
}
/*	--------------------------------------------------	*/



/*	==================================================	*/
/*	#		TABLET view size alterations as per redline	 #	*/
/*	==================================================	*/
@media only screen and (max-width: 1024px) {
	nav.sm-menu-bar {
		margin: auto;
		display: flex;
		justify-content: center;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
	}
	nav.lg-menu-bar {
		display: none;
	}
	div#glasses {
		display: none;
	}
	.content-box-img {
		width: 47%;
	}
	.featured-outer {
		margin: 0;
	}
}
/*	==================================================	*/



/*	==================================================	*/
/*	#		MOBILE view size alterations as per redline	 #	*/
/*	==================================================	*/
@media only screen and (max-width: 470px) {
	.content-box-img,
	.content-box-topic {
		width: 90%;
	}
	div#watch {
		display: none;
	}
	.featured-inner  h4{
		padding-top: 1rem;
		padding-left: 2rem;
		font-size: .77rem;
	}
	.featured-inner  h1{
		padding-top: .5rem;
		padding-bottom: 1.5rem;
		padding-left: 2rem;
		font-size: 1rem;
	}
	.banner-img {
		height: 15rem;
		display: flex;
	}
	.content-row {
		justify-content: center;
	}
	.copyright  {
		justify-content: center;
	}
	.featured-outer {
		margin-top: 10rem;
	}
	.featured-inner {
		width: 100%;
	}
	div.footer-box {
		text-align: center;
		margin: auto;
	}
	div#lococall {
		flex-wrap: wrap;
	}
	#loco {
		padding-bottom: .5rem;
	}
}
/*	==================================================	*/
